h1
{
  text-align: center;
}

#class_search_form
{
  margin-left: 25%;
  margin-right: 25%;
}

#class_search_form label
{
  width: 24%;
}

#class_search_form input
{
  margin: 10px;
  width: 50%;
  height: 5%;
}

#class_search_form select
{
  margin: 10px;
  width: 50%;
  height: 5%;
}

#search_button
{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;

}
#add_course_button
{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;

}